[general]
app_name=app

[cartodb]
account_name={{cartodbaccount}}
api_key={{cartodbapikey}}
import_api_endpoint=https://{{cartodbaccount}}.cartodb.com/api/v1/imports/
table_name={{tablename}}

[intervals]
run_after_s={{intervalinseconds}}
days_back=1

[twitter]
# separate categories with a pipe "|" and keywords by spaces
categories=#pepsi #pepsicola|#coca #cocacola
